/******************************************
BASIC CONFIG
******************************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #ff5672;
  --color-primary-light: #fc758c;

  --text-color: #707070;
  --text-footer-color: #c2cfd7;
}

.color--primary {
  color: var(--color-primary);
}

html {
  font-family: 'Questrial', sans-serif;
  font-size: 62.5%; /* This means 1 rem = 10px (overrides 16px default) => 10/16 = 62.5% */
  color: var(--text-color);
}

h1,
h3 {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 3.992rem;
  letter-spacing: 0.5rem;
}

h3 {
  font-size: 1.851rem;
}

.btn {
  font-size: 1.025rem;
  width: 17rem;
  display: inline-block;
  text-decoration: none;
  padding: 1.4875rem;
  text-align: center;
}

.btn--primary {
  background-color: var(--color-primary);
  color: #fff;
}

.btn--secondary {
  background-color: #fff;
  color: var(--color-primary-light);
}

.btn__show-more {
  margin-top: 4.2rem;
  font-size: 1.3rem;
}

/******************************************
HEADER
******************************************/

.header {
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
  flex-wrap: wrap;
}

/******************************************
NAV BAR
******************************************/

.nav-main {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 3.5rem;
}

.nav-main__item {
  /* margin: 0 2rem; */
  align-self: auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-main__link,
.nav-main__link:visited {
  text-decoration: none;
  padding: 0 2rem;
  display: flex;
  color: var(--text-color);
  font-size: 1.4rem;
  transition: background-color 0.2s;
  height: 100%;
  width: 100%;
  align-items: center;
}

.nav-main__link:active,
.nav-main__link:hover {
  background-color: var(--color-primary-light);
  color: #fff;
  fill: #fff !important;
}

.nav-main__item--active,
.nav-main__item--active:visited {
  background-color: var(--color-primary);
  color: #fff;
}

.search__icon {
  fill: var(--color-primary-light);
  height: 2rem;
  width: 2rem;
  display: block;
}

.search__icon:hover {
  fill: #fff;
}

/******************************************
LANDING
******************************************/

.landing {
  width: 100%;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: var(--color-primary-light);
  text-align: center;
}

.landing__title {
  height: 21.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.landing__title-desc {
  font-size: 1.683rem;
}

/******************************************
PORTFOLIO
******************************************/

.portfolio {
  margin: 7.5rem auto 0 auto;
  max-width: 117rem;
  align-items: center;
  text-align: center;
}

.portfolio__nav {
  height: 12.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6rem;
}

.grid-selector {
  width: 5.6rem;
  display: flex;
  justify-content: space-between;
}

.grid-selector__link {
  text-decoration: none;
}

.grid-selector__icon {
  width: 1.4rem;
  height: 1.4rem;
  fill: var(--color-primary);
}

.grid-selector__icon:hover {
  fill: var(--color-primary-light);
}

.portfolio__grid {
  max-width: 1170px;

  display: grid;

  grid-auto-rows: 10px;
  justify-content: center;
}

.portfolio__grid--columns {
  grid-template-columns: repeat(auto-fit, 350px);
  column-gap: 35px;
}

.portfolio__grid--rows {
  grid-template-columns: 600px;
}

.portfolio__grid-item {
  margin-top: 30px;
  width: 100%;
  position: relative;
  /* display: block; */
}

.item-size--medium-8 {
  /* 18 */
  grid-row-end: span 43;
}

.item-size--medium-7 {
  /* 17 */
  grid-row-end: span 42;
}

.item-size--medium-6 {
  /* 16 */
  grid-row-end: span 41;
}

.item-size--medium-5 {
  /* 15 */
  grid-row-end: span 40;
}

.item-size--medium-4 {
  /* 14 */
  grid-row-end: span 39;
}

.item-size--medium-3 {
  /* 13 */
  grid-row-end: span 38;
}

.item-size--medium-2 {
  /* 12 */
  grid-row-end: span 37;
}

.item-size--medium-1 {
  /* 11 */
  grid-row-end: span 36;
}

.item-size--medium-0 {
  /* 10 */
  grid-row-end: span 35;
}

.item-size--small-9 {
  /* 9 */
  grid-row-end: span 34;
}

.item-size--small-8 {
  /* 8 */
  grid-row-end: span 33;
}

.item-size--small-7 {
  /* 7 */
  grid-row-end: span 32;
}

.item-size--small-6 {
  /* 6 */
  grid-row-end: span 31;
}

.item-size--small-5 {
  /* 5 */
  grid-row-end: span 30;
}

.item-size--small-4 {
  /* 4 */
  grid-row-end: span 29;
}

.portfolio__grid-item-img,
.portfolio__branding {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.portfolio__grid-item-img {
  object-fit: cover;
  display: block;
  z-index: 10;
  transition: opacity 0.3s;
  cursor: pointer;
}

.portfolio__grid-item-img:hover {
  opacity: 0;
}

.portfolio__branding {
  color: #fff;
  background-color: var(--color-primary-light);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 4rem;
}

.portfolio__grid-item-title {
  width: 100%;
  text-align: center;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: solid 1px #fff;
}

.portfolio__grid-item-text {
  font-size: 2rem;
}

/******************************************
FOOTER
******************************************/

.footer {
  margin: 8rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
  color: var(--text-footer-color);
  font-size: 1.3rem;
}

.footer__social {
  width: 16rem;
  display: flex;
  justify-content: space-between;
}

.footer__icon {
  height: 1.6rem;
  width: 1.6rem;
  fill: var(--text-footer-color);
}

/******************************************
MEDIA QUERYS
******************************************/

@media (max-width: 500px) {
  .nav-main {
    justify-content: space-between;
  }

  .nav-main__link {
    padding: 0 1rem;
    font-size: 1.2rem;
  }
}
